body{
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: #ededeb;
  margin:0;


}

.formulario_caixa{
  background-color: #fafbfc;
  width: 420px;
  align-self: center;
  padding: 10px;
  margin-top: 40px;
  border: 1px solid #939689;

}



.caixaTexto{
  width: 400px;
  height: 20px;
  text-align: right;
  border-radius: 7px;
  padding: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
}

.formulario label{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.botao{
  background-color: #a5e8a8;
  font-size: 28px;
  width: 300px;
  height: 45px;


}


.meuestilo{
margin-top: 15px;
align-self: center;
width: 200px;
font-family: cursive;
font-size: 25px;
background: #a6f089;
text-align: right;

}

#validacao{
  color: red;
}






/*  */
